body {
    margin: 0;
    background: url(../Learn/img/pattern.png);
    background-color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.title {
    font-size: 45px;
    color: rgb(81, 103, 228);
}

.card {
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: #6848b5;
}

.card-text {
    font-size: 14px;
}

.card-subtitle {
    font-size: 18px;
    color: #60358f;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}